doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(charset='utf-8')
    title Dev App
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    
  body
    block content

    script(src='/jquery/jquery.min.js')
    script(src='/popper/popper.min.js')
    script(src='/js/bootstrap.min.js')